<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"-->
       <!--xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
       <!--http://www.springframework.org/schema/beans/spring-beans.xsd-->
       <!--http://www.springframework.org/schema/tx-->
       <!--http://www.springframework.org/schema/tx/spring-tx.xsd-->
       <!--http://www.springframework.org/schema/aop-->
       <!--http://www.springframework.org/schema/aop/spring-aop.xsd-->
       <!--http://www.springframework.org/schema/context-->
       <!--http://www.springframework.org/schema/context/spring-context.xsd">-->
    <!--&lt;!&ndash; 引入配置 &ndash;&gt;-->
    <!--<context:property-placeholder location="classpath*:mybatis/*.properties" />-->
    <!--&lt;!&ndash; 数据源连接池Druid &ndash;&gt;-->
    <!--<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"-->
          <!--init-method="init" destroy-method="close">-->
        <!--<property name="driverClassName" value="${jdbc.driver}" />-->
        <!--<property name="url" value="${jdbc.url}" />-->
        <!--<property name="username" value="${jdbc.user}" />-->
        <!--<property name="password" value="${jdbc.password}" />-->
        <!--&lt;!&ndash;<property name="filters" value="stat" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="maxActive" value="${jdbc.maxActive}" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="initialSize" value="${jdbc.initialSize}" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="maxWait" value="${jdbc.maxWait}" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="minIdle" value="${jdbc.minIdle}" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}" />&ndash;&gt;-->
        <!--&lt;!&ndash;用来检测数据库是否连接&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="validationQuery" value="SELECT 'x'" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="testWhileIdle" value="true" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="testOnBorrow" value="false" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="testOnReturn" value="false" />&ndash;&gt;-->
    <!--</bean>-->
    <!--&lt;!&ndash; 配置数据工厂 &ndash;&gt;-->
    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource" />-->
        <!--<property name="mapperLocations" value="classpath:mybatis/mappers/*.xml" />-->
        <!--<property name="typeAliasesPackage" value="com.qcdl.model.mapper" />-->
        <!--<property name="plugins">-->
            <!--<array>-->
                <!--<bean class="com.github.pagehelper.PageInterceptor">-->
                    <!--<property name="properties">-->
                        <!--<value>-->
                            <!--helperDialect=mysql-->
                            <!--reasonable=true-->
                            <!--supportMethodsArguments=true-->
                            <!--params=count=countSql-->
                            <!--autoRuntimeDialect=true-->
                        <!--</value>-->
                    <!--</property>-->
                <!--</bean>-->
            <!--</array>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; mapper扫描 &ndash;&gt;-->
    <!--<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="basePackage" value="com.qcdl.model.mapper" />-->
        <!--<property name="properties">-->
            <!--<value>-->
                <!--mappers=tk.mybatis.mapper.common.Mapper,tk.mybatis.mapper.common.MySqlMapper-->
            <!--</value>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; sqlSession &ndash;&gt;-->
    <!--<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"-->
          <!--scope="prototype">-->
        <!--<constructor-arg index="0" ref="sqlSessionFactory" />-->
    <!--</bean>-->
    <!--&lt;!&ndash; 包扫描,需要配置基包 &ndash;&gt;-->
    <!--<context:component-scan base-package="" />-->
    <!--&lt;!&ndash; 对事物进行代理 &ndash;&gt;-->
    <!--<aop:aspectj-autoproxy proxy-target-class="true" />-->
    <!--&lt;!&ndash; 配置事物管理器 &ndash;&gt;-->
    <!--<bean id="transactionManager"-->
          <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--<property name="dataSource" ref="dataSource" />-->
    <!--</bean>-->
    <!--&lt;!&ndash;&lt;!&ndash; 开启事物的注解模式 &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<tx:annotation-driven transaction-manager="transactionManager" />&ndash;&gt;-->
<!--</beans>-->